<h1>About Us</h1>
<p>We are the official home for rare & variegated plant enthusiasts!<br>

<br>New to Jungle? Welcome!
We got you. We're here to spread the word, share those halfmoon leaves, and ultimately help you find your way in this rare & 
variegated plant environment.<br>

<br>What's next?<br>
We've got more in store for you in the near future, so stay tuned!</p>
